html,
body,
.pyg_view {
  height: 100%;
}
img {
  width: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
.pyg_view {
  overflow: scroll;
}
.pyg_header {
  padding: 5px;
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
}
.pyg_footer {
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
}
.pyg_footer a {
  flex: 1;
  text-align: center;
  color: #000;
  font-size: 14px;
  padding-top: 5px;
  border-top: 1px solid #d6d6d6;
}
.pyg_footer a > i {
  font-size: 18px;
}
.pyg_view {
  display: flex;
  overflow: hidden;
}
.pyg_view .left_box {
  width: 100px;
  overflow: hidden;
}
.pyg_view .left_box .left_menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pyg_view .left_box .left_menu li {
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pyg_view .left_box .left_menu .active {
  background-color: #fff;
  border-left: 5px solid #0094ff;
}
.pyg_view .right_box {
  flex: 1;
  overflow: hidden;
}
.pyg_view .right_box .rigth_item .item_title {
  height: 40px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  font-size: 14px;
  color: #0094ff;
}
.pyg_view .right_box .rigth_item .item_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.pyg_view .right_box .rigth_item .item_list li {
  width: 33.33%;
  text-align: center;
}
.pyg_view .right_box .rigth_item .item_list li a {
  font-size: 13px;
  color: #000;
}
.pyg_view .right_box .rigth_item .item_list li a img {
  width: 80%;
}
