html,
body,
.pyg_view {
  height: 100%;
}
img {
  width: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
.pyg_view {
  overflow: scroll;
}
.pyg_header {
  padding: 5px;
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
}
.pyg_footer {
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
}
.pyg_footer a {
  flex: 1;
  text-align: center;
  color: #000;
  font-size: 14px;
  padding-top: 5px;
  border-top: 1px solid #d6d6d6;
}
.pyg_footer a > i {
  font-size: 18px;
}
.pyg_view {
  padding: 10px;
}
.pyg_view .verify {
  position: relative;
}
.pyg_view .verify_btn {
  position: absolute;
  top: 5px;
  right: 10px;
  width: auto;
  padding: 6px;
}
.pyg_view .register_btn {
  display: flex;
}
.pyg_view .register_btn a {
  flex: 1;
  text-align: center;
  margin: 20px 5px;
}
